body {
	background-color:#fdf7f7;
	font-family:  'Arvo', serif, Helvetica, Arial;
	font-size:14px;
}

#jar {
	width: 960px;
	margin-left:auto;
	margin-right:auto;	
	margin-top:35px;
	margin-bottom:10px;
}

#header {
	background-color:;
}

#logo {
	font-size:3em;	/*equivalent to 42px */
	margin-bottom:20px;
}

#logo strong {
	color:#ca1800;	
	font-weight:bold;
}

#body{
	margin-top:10px;
	overflow: hidden;
}

#nav_left {
	width:10%;
	float:left;
}

#nav_right {
	width:90%;
	height:40px;
	background-color:#df5759; 
	float:right; 
}

#mainbody {
	height:500px;
	font-size:20px;
}

#pagetopic {
 	height:70px;
	margin-top:20px;
	padding-bottom:10px;
	font-size:50px;
}


#mainbody a
{
	text-decoration:none;
	color:blue;
}

#mainbody a:link,a:visited,a:hover,a:active 
{ text-decoration:none;
background-color:none;
font-weight:800;
padding:10px;
	} 

#container {
	width: 1000px; margin: -40px auto;
	position: relative;
}

div#slideshow {
	width: 960px; height: 518px; padding: 15px 0 0 12px;
	overflow: scroll; /* Allows the slides to be viewed using scrollbar if Javascript isn't available */ 
	position: relative; z-index: 5;
}

div#slideshow ul#nav {
	display: none;
	list-style: none;
	position: relative; top: 210px; z-index: 15;
}

div#slideshow ul#nav li#prev {
	float: left; margin: 0 0 0 40px;
}
div#slideshow ul#nav li#next {
	float: right; margin: 0 50px 0 0;
}
div#slideshow ul#nav li a {
	display: block; width: 80px; height: 80px; text-indent: -9999px;
}
div#slideshow ul#nav li#prev a {
	background: url(images/arrow.jpg);
}
div#slideshow ul#nav li#next a {
	background: url(images/arrow.jpg);
}

div#slideshow ul#slides {
	list-style: none;
}
div#slideshow ul#slides li {
	margin: 0 0 20px 0;
}

#footer {
	background-color:#fdf7f7;
	height:30px;
	margin-top:20px;
}

#footer a
{
	color: black;
}

#footer a:link,a:visited  {
	color: #000; 
	font-weight:800;
	font-size:16px;
	text-align: center; 
	padding:0px; 
	text-decoration:none;
}

#footer a:hover,a:active 
{ 
color:orange;
background-color:;
text-decoration: none; 
} 

#footer ul {
	text-align:center; /*to center align footer*/
	text-decoration:none;
}

li
{
	display:inline;
}

ul 
{ 
list-style-type:none; 
margin:0; 
padding:0; 
} 


#nav_right a:link,a:visited 
{ 
color: #FFF; 
font-weight:800;
text-align:right; 
padding:0px; 
text-decoration:none; 
} 

#nav_right a:hover,a:active 
{ 
color:orange;
background-color:black;
padding:10px;
padding-left:10px;
padding-right:10px;
text-decoration: none; 
}

#navigation-a {
	width: 25%;
	height:25px;
	font-size:16px;
	padding-top:12px;
	padding-bottom:;
	float: left;
	color: #FC3;
	text-decoration: none;
	display:block;
	background-color: #df5759;  /*red colour of the full navigation bar*/
}

